.calendar{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 30px repeat(5,50px);
    row-gap: 20px;
    column-gap: 10px;
   
}
.date, .day{
    background-color: skyblue;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.day{
    background-color: lightgray;
    font-size: 1em;
}